<div class="container">
	<form ng-submit="connexCtrl.connexion(connexionForm)" name="connexionForm" novalidate>
		<div class="form-group">
			<label>Login* : </label>
			<input class="form-control input-sm" type="text" name="loginConnexion" required ng-model="connexCtrl.userData.login">
		</div>
		<div class="form-group">
	  		<label>Mot de passe:</label>
	  		<input class="form-control input-sm" type="password" name="mdpConnexion" required ng-model="connexCtrl.userData.password">
	  	</div>
	  	{{connexCtrl.msg}}
	  	<button class="btn btn-primary" type="submit">Connexion</button>
	</form>
</div>
