	<tr ng-repeat="produit in magasinCtrl.listProduits | orderBy : 'id'">
				<td class="text-center">
					<div class="miniatureContainer">
						<img ng-src="{{produit.image}}" class="imgMini"/>
					</div>
					<h4>{{produit.libelle}}</h4>
					<h4>{{produit.prix}} €</h4>
					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(produit.id)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)">Voir détails</button>
				</td>
			</tr>