<div class="container">
<!--Vérifier avec un bouchon l'affichage des details -->
<h1>Détails du produit : {{magasinCtrl.detailsProduit.libelle}}</h1>
	<div class="row">
		<div class="col-xs-5">
			<img src="{{magasinCtrl.detailsProduit.image}}"/><br>
		</div>
  		<div class="col-xs-3">
  			<label>Prix : {{magasinCtrl.detailsProduit.prix}}</label><br>
  			<label>Description : {{magasinCtrl.detailsProduit.cracteristique}}</label><br>
  			<!-- <label>Quantité disponible :{{magasinCtrl.detailsProduit.quantite}} </label><br> -->
  			<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(magasinCtrl.detailsProduit.id)">Ajouter au panier</button>
  		</div>
	</div>
</div>