<div class="container">
	<h2>Récapitulatif</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td></td>
				<td>Produit</td>
				<td>prix / produit</td>
				<td>Quantité</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="produit in payerCtrl.panier | orderBy : 'id'">
				<td><img ng-src="{{produit.image}}" class="imgMini"></td>
				<td>{{produit.libelle}}</td>
				<td>{{produit.prix}}</td>
				<td>{{produit.quantite}}</td>
			</tr>
		</tbody>
	</table>
	<label ng-model ="payerCtrl.commande.prixTotal" name="prixTotal" value="payerCtrl.totalPrix" >Prix total : {{payerCtrl.totalPrix}} euros </label>
	<h2>Choix du mode de livraison</h2>
	<form name="myForm">
		<ul>
			<li ng-repeat="(cleLivraison, livraison) in payerCtrl.confLivraison"><input type="radio" ng-model="payerCtrl.nomLivraison" value="{{cleLivraison}}">{{livraison.name}}, prix : {{livraison.prix}} €</li>
		</ul>

		<tt>choix = {{payerCtrl.nomLivraison}}</tt><br/>
		<tt>prix = <span ng-bind="payerCtrl.confLivraison[payerCtrl.nomLivraison].prix"></span></tt>

    <h2>Adresse de livraison</h2>
    <!-- affichage des adresses du client connecté -->
    <select ng-model="adresse_selection" ng-options="adresse.numero+' '+adresse.rue+' '+adresse.ville for adresse in payerCtrl.userInfos.adresses" data-native-menu="true">
        <option value="">Sélectionnez une adresse</option>
    </select>

	<h2>Paiement</h2>
	<accordion close-others="true">
		<accordion-group heading="Paiement par chèque" is-open="false">
			<Adresse>
				<p><strong>Adresse d'envoie :</strong></p>
				<p>DTA Ingénierie</p>
				<p>4 rue Edith Piaf</p>
				<p>44800 Saint Herblain</p>
			</Adresse>
			<button class="btn btn-warning" ng-click="payerCtrl.annuler()">Annuler le paiement</button>  <button class="btn btn-success" ng-click="payerCtrl.payerByCheque()">Valider</button>
		</accordion-group>
		<accordion-group heading="Paiement par CB" is-open="false">
			<fieldset>
				<legend>Données de paiement</legend>
				<form ng-submit="payerCtrl.save(PayerForm)" name="PayerForm" novalidate>
					<div class="form-group">
						<label>Type de carte : </label>
						<img src="images/type_carte.PNG">
					</div>
					<div class="form-group">
						<label>Numéro de carte : </label>
						<input type ="text" class="form-control" ng-model ="payerCtrl.commande.numero" name="numero">
					</div>
					<div class="form-group">
						<label>Date de fin de validité : </label>
						<div class="form-inline">
							<input type ="number" min="1" max="12" ng-model ="payerCtrl.commande.date_validite.month" name="month">
							<input type ="number" min="2015" max="2025" ng-model ="payerCtrl.commande.date_validite.year" name="year">
						</div>
					</div>
					<div class="form-group">
						<label>Cryptogramme visuel : </label>
						<div class="form-inline">
							<input type="number" min="100" max="999" ng-model ="payerCtrl.commande.crypto" name="numero">
							<a ng-click="payerCtrl.open()">plus d'information</a>
						</div>
					</div>
					<button class="btn btn-warning" ng-click="payerCtrl.annuler()">Annuler le paiement</button>  <button class="btn btn-success" type = "submit">Valider</button>
				</form>
			</fieldset>
		</accordion-group>
	</accordion>

	<h2>Adresse de livraison</h2>
	<!-- affichage des adresses du client connecté -->
    <select ng-model="adresse_selection" ng-options="adresse.numero+' '+adresse.rue+' '+adresse.ville for adresse in payerCtrl.userInfos.adresses" data-native-menu="true">
		<option value="">Sélectionnez une adresse</option>
	</select>
	</form>
</div>
