<div class="container">
<br>
	<input type="text" ng-model="searchProduct" placeholder="Chercher dans la liste" style="float:right" autofocus>

	<select  name="orderByKey" ng-model="orderByKey">
		     <option value="libelle" >Trier par nom</option>
		     <option value="prix">Trier par prix</option>
		     <option value="categorie">Trier par catégorie</option>

	</select>

	<label>Asc</label>
	<input type="radio" name="orderIn" ng-model="orderIn" />
	<label>Desc</label>
	<input type="radio" name="orderIn" ng-model="orderIn" value="reverse" />

	<h2>Liste des produits</h2>

	<table class="table table-bordered">
		<tbody>

			<tr><td>1ère ligne</td></tr>

			<tr ng-repeat="produit in magasinCtrl.listProduits | orderBy : 'id'">
					
				<td class="text-center">

					<ec-ligne-produit ng-produit="{{produit}}"></ec-ligne-produit>
				</td>

			</tr>
			

			<tr><td>Dernière ligne</td></tr>
		</tbody>
	</table>
</div>



