<div class="container">
<br>
	<input type="text" ng-model="searchProduct" placeholder="Chercher dans la liste" style="float:right" autofocus>
<label>Tri</label>
	<select  name="orderByKey" ng-model="orderByKey">
		     <option value="libelle" >Trier par nom</option>
		     <option value="prix">Trier par prix</option>
		     <option value="categorie">Trier par catégorie</option>

	</select>
    

	<label>Asc</label>
	<input type="radio" name="orderIn" ng-model="orderIn" />
	<label>Desc</label>
	<input type="radio" name="orderIn" ng-model="orderIn" value="reverse" />
	<!--<a href='#' onclick='location.reload(true); return false;'>Retour magasin</a>-->
<ul>
	<li><a  ng-click="magasinCtrl.minPrice = 0; magasinCtrl.maxPrice = 19.99">Prix inférieur à {{magasinCtrl.borne1}}</a></li>
	<li><a  ng-click="magasinCtrl.minPrice = magasinCtrl.borne1; magasinCtrl.maxPrice = magasinCtrl.borne2">Prix entre {{magasinCtrl.borne1}} et {{magasinCtrl.borne2}}</a></li>
	<li><a  ng-click="magasinCtrl.minPrice = magasinCtrl.borne2; magasinCtrl.maxPrice = magasinCtrl.borne3">Prix entre {{magasinCtrl.borne2}} et {{magasinCtrl.borne3}}</a></li>
	<li><a  ng-click="magasinCtrl.minPrice = magasinCtrl.borne3; magasinCtrl.maxPrice =3000.01 ">Prix supérieur à {{magasinCtrl.borne3}}</a></li>
	<li><a  ng-click="magasinCtrl.minPrice = 0; magasinCtrl.maxPrice = magasinCtrl.borne4">Tous les produits</a></li>
</ul>

	<h2>Liste des produits</h2>

	<table class="table table-bordered">
		<tbody>
			<tr ng-repeat="produit in magasinCtrl.listProduits 
			| filter:{libelle:searchProduct}
			| filterByPriceMinAndMax:magasinCtrl.minPrice:magasinCtrl.maxPrice 
			| orderBy: orderByKey: orderIn" >
				<td class="text-center">
					<ec-ligne-produit ng-produit="{{produit}}"></ec-ligne-produit>
				</td>
			</tr>
		</tbody>
	</table>

</div>




