<div class="container-fluid">
	<h1>Liste des produits</h1>
	<table class="table table-bordered">
		<tbody>
			<!-- <tr ng-repeat="produit in magasinCtrl.listProduits | orderBy : 'id'">
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="{{produit.image}}"/>
					</div>
					<h4>{{produit.libelle}}</h4>
					<h4>{{produit.prix}}</h4>
					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(produit.id)">Ajouter au panier</button>
				</td>
			</tr> -->
			<tr>
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="http://lorempixel.com/120/120"/>
					</div>
					<h4>Produit 1</h4>
					<h4>595F</h4>

					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(1)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)" >Voir détails</button>
				</td>
			</tr>
			<tr>
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="http://lorempixel.com/120/120"/>
					</div>
					<h4>Produit 2</h4>
					<h4>595F</h4>

					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(2)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)" >Voir détails</button>
				</td>
			</tr>
			<tr>
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="http://lorempixel.com/120/120"/>
					</div>
					<h4>Produit 3</h4>
					<h4>595F</h4>

					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(3)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)" >Voir détails</button>
				</td>
			</tr>
			<tr>
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="http://lorempixel.com/120/120"/>
					</div>
					<h4>Produit 4</h4>
					<h4>595F</h4>

					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(4)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)" >Voir détails</button>


				</td>
			</tr>
			<tr>
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="http://lorempixel.com/120/120"/>
					</div>
					<h4>Produit 5</h4>
					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(5)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)">Voir détails</button>

				</td>
			</tr>
			<tr>
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="http://lorempixel.com/120/120"/>
					</div>
					<h4>Produit 6</h4>
					<h4>595F</h4>

					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(6)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)" >Voir détails</button>
				</td>
			</tr>
			<tr>
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="http://lorempixel.com/120/120"/>
					</div>
					<h4>Produit 7</h4>
					<h4>595F</h4>

					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(7)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)" >Voir détails</button>
				</td>
			</tr>
			<tr>
				<td class="text-center">
					<div class="miniatureContainer" style="float:left;margin-right:5px;">
						<img src="http://lorempixel.com/120/120"/>
					</div>
					<h4>Produit 8</h4>
					<h4>595F</h4>

					<button class="btn btn-primary" ng-click="magasinCtrl.addToPanier(8)">Ajouter au panier</button>
					<button class="btn btn-warning" ng-click="magasinCtrl.detailsProduit(produit.id)" >Voir détails</button>
				</td>
			</tr>
		</tbody>
	</table>

</div>
