<div class="container-fluid">
	<div class ="modal-header">
		<h3 class="modal-title">Validation Commande et Paiement</h3>
	</div>
	<div class ="modal-body">
		<p>Votre Commande a bien été prise en compte.Vous allez être redirigé vers la page d'accueil.Un mail de confirmation de la commande vous sera envoyé dès que le code sera fait par le groupe 1, vous pourrez également éditer/ générer un pdf.</p>
	</div>
	<div class ="modal-footer">
		<button class="btn btn-primary" ng-click="modalCtrl.ok()">OK</button>
	</div>
</div>