<div class="container">
	<h2>Mon panier</h2>
	<div class="text-right">
		<h4>Total du panier {{ panierCtrl.totalPrix }} €</h4>
	</div>
	<table class="table table-bordered">
		<tbody>
			<tr ng-repeat="produit in panierCtrl.panier | orderBy : 'id'">
				<td class="text-center">
					<ec-directive-panier ng-produit="{{produit}}"></my-directive-panier> <!--appel de la directive-->
				</td>
			</tr>
		</tbody>
	</table>
	
	<button ng-show="panierCtrl.isConnected()" class="btn btn-success" ng-click="panierCtrl.effectuerPaiement(panierCtrl.totalPrix)">Payer</button>
	{{panierCtrl.quantiteTotale}}
</div>

<!-- '<ec-directive-panier...'' est equivalent à '<div ec-directive-panier...' or on ne peut pas mettre de div entre un 'tr' et un 'td', c'est pour cela qu'il faut mettre la directive directement apres un tr-->
