<div class="container">
	<h2>Mon panier</h2>
	<div class="text-right">
		<h4>Total du panier {{ panierCtrl.totalPrix }} €</h4>
	</div>
	<table class="table table-bordered">
		<tbody>
			<tr ng-repeat="produit in panierCtrl.panier | orderBy : 'id'">
				<td class="text-center">
					<div class="miniatureContainer">
						<img ng-src="{{produit.image}}"/>
					</div>
					<button class="btn btn-danger removeButton">
						<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="panierCtrl.removeFromPanier(produit.id)"></span>
					</button>
					<h4>{{produit.libelle}}</h4>
					<h4>{{produit.prix}} €</h4>
					<div class="btn-group">
						<button class="btn btn-default" ng-click="panierCtrl.diminuerQuantite(produit.id)">-</button>
						<span class="btn">{{produit.quantite}}</span>
						<button class="btn btn-default" ng-click="panierCtrl.augmenterQuantite(produit.id)">+</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	
	<button ng-show="panierCtrl.isConnected()" class="btn btn-success" ng-click="panierCtrl.effectuerPaiement(panierCtrl.totalPrix)">Payer</button>
	{{panierCtrl.quantiteTotale}}
</div>
