
<div class="jumbotron myHeader">
	<div class="container-fluid">
		<h2>Bienvenue sur ECommerce Mobile</h2>
	</div>
</div>

<div class="container-fluid">
	<label>ECommerce vous informe : </label> Livraison sous 48h et gratuite à partir de 30 euros <br><br>
	

	<table class="table table-bordered" style="text-align:center">
		<tr >
			<td COLSPAN=3;> <h2>Les offres :</h2></td>
		</tr>
		<tr style="width:10em;height:10em;">

			<td>
				<div style="position:absolute;z-index:1">
					<img src="http://lorempixel.com/120/120/">
				</div>
				<div style="position:absolute;z-index:2;font-size:1.5em;background-color:red;-webkit-transform:rotate(-20deg)">
					Promotion
				</div> 
			</td>
			<td>
				<div style="position:absolute;z-index:1">
					<img src="http://lorempixel.com/120/120/">
				</div>
				<div style="position:absolute;z-index:2;font-size:1.5em;background-color:red;-webkit-transform:rotate(-20deg)">
					Promotion
				</div> 
			</td>
			<td>
				<div style="position:absolute;z-index:1">
					<img src="http://lorempixel.com/120/120/">
				</div>
				<div style="position:absolute;z-index:2;font-size:1.5em;background-color:red;-webkit-transform:rotate(-20deg)">
					Promotion
				</div> 
			</td>
		</tr>
		<tr>
			<td>Produit 1</td>
			<td>Produit 2</td>
			<td>Produit 3</td>
		</tr>
		<tr >
			<td COLSPAN=3;> <h2>A découvrir : <a href="#/magasin" style="font-size:0.5em">voir plus</a></h2></td>
		</tr>
		<tr>
			<td><img src="http://lorempixel.com/120/120/"></td>
			<td><img src="http://lorempixel.com/120/120/"></td>
			<td><img src="http://lorempixel.com/120/120/"></td>
		</tr>
		<tr>
			<td>Produit 1</td>
			<td>Produit 2</td>
			<td>Produit 3</td>
		</tr>
	</table>

  
    <!-- évolution possible

    <carousel interval="homeCtrl.myInterval" no-wrap="homeCtrl.noWrapSlides">
      <slide ng-repeat="slide in homeCtrl.slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Produit {{$index}}</h4>
        </div>
      </slide>
    </carousel> -->
</div>


